# SPDX-FileCopyrightText: 2022-2023, Collabora, Ltd.
# SPDX-FileCopyrightText: 2022, GitHub
# SPDX-License-Identifier: CC0-1.0

name: Binaries

on:
  push:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-linux:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4
      - name: Deps
        run: sudo apt-get update && sudo apt-get install -y --no-install-recommends libgtk-3-dev
      - name: Build
        run: cargo build --release --verbose
      - name: Archive binaries
        uses: actions/upload-artifact@v5
        with:
          name: linux-build
          path: target/release/xrpicker-gui

  build-win:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: cargo build --release --verbose
      - name: Archive binaries
        uses: actions/upload-artifact@v5
        with:
          name: windows-build
          path: target/release/xrpicker-gui.exe
